{% extends "layout.html" %}

{% block script %}
<script>
    function check_password(form){
        var p1 = form.password.value;
        var p2 = form.confirmation.value;
        if ( p1 != p2 )
        {
            alert("\nPassword did not match");
        }
    }
</script>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" onsubmit="return check_password(this)">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
